*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

/* @media only screen and ( min-width: 375px){ */
body{
    background-color: hsl(0, 0%, 95%); 
 padding: 40px;
}

.container{
color: hsl(0, 0%, 100%, 0.75);
}
/* DRY Don't Repeat Yourself */
/* DIE Duplicate Is Evil */

.container > div {
    padding: 30px;
    text-align: left;
    position: relative;
    /* height: 350px; */
}
.box-1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0;
}

.box-2 {
    background-color: hsl(184, 100%, 22%);
}

.box-3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;
}

button{
    background-color: hsl(0, 0%, 95%);
    padding: 1em;
    border-radius: 20px;
    border: none;
    /* position: absolute;
    bottom: 20px;
    left: 20px; */ 
}

.box-1 button {
    color:hsl(31, 77%, 52%);
}

.box-2 button {
    color: hsl(184, 100%, 22%);
}

.box-3 button {
    color: hsl(179, 100%, 13%);
}

h2, p, button {
    margin: 30px 0;
}

h2{
    font-size: 32px;
}

p {
font-size: 16px;
line-height: 20px;
text-transform: capitalize;
}

@media only screen and ( min-width: 768px){
    .container{
        width: 60%;
        margin:30px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    } 

    .box-1 {
        border-radius: 10px 0 0 10px;
    }

    .box-3 {
        border-radius: 0 10px 10px 0;
    }
}
